@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

$primary: #ffc60b;
$lightGrey: #fbfcfe;
$theme-colors: (
    "primary": $primary,
    "secondary": #333,
    "info": #6c757d,
    "alert": #dc3545,
    "dark": rgb(0, 0, 0)
);

$border-radius: 6px;



@import "bootstrap/scss/bootstrap";

html,
body,
#root {
    height: 100%;
    margin: 0;
}

#root {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

main {
    flex: 1;
}

body {
    display: flex;
    flex-direction: column;
    font-family: 'Inter', sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 14px;
    line-height: 1.6em;
    color: #666;
    background-color: #f8f9fa;
}


.jumbotron {
    background-size: cover;
    background-position: center center;
    position: relative;
    z-index: 1;
    color: #000;


    ::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-image: url('./calc.jpg');
        background-size: cover;
        background-position: center;
        opacity: 0.02;
        z-index: -1;
    }
}



.receipt {
    font-family: monospace;
    background-color: #f5f5f5;
    background-image: url("https://www.transparenttextures.com/patterns/paper-fibers.png");
    padding: 2em;
    color: #000;

    position: relative;

    &::before,
    &::after {
        content: '';
        display: block;
        width: 100%;
        height: 16px;
        background: url('data:image/svg+xml;utf8,<svg viewBox="0 0 100 10" xmlns="http://www.w3.org/2000/svg"><polygon points="0,0 5,10 10,0 15,10 20,0 25,10 30,0 35,10 40,0 45,10 50,0 55,10 60,0 65,10 70,0 75,10 80,0 85,10 90,0 95,10 100,0" fill="%23ebeded"/></svg>') repeat-x;
    }

    &::before {
        position: absolute;
        top: 0;
        left: 0;
        transform: translateY(-16px) rotate(180deg);

    }

    &::after {
        position: absolute;
        bottom: 0;
        left: 0;
        transform: translateY(16px);
    }

    .receipt-header {
        text-align: center;
    }

    .sep {
        margin: 1.5em 0;
        flex: 1;
        overflow: hidden;
        text-align: left;
        padding: 0 0.5ch;
    }

    .sep::before {
        content: "---------------------------------------------------------------------------------------";
        display: inline-block;
        width: 100%;
        white-space: nowrap;
        overflow: hidden;
        font-size: 0.8em;
    }

    .receipt-excerpt {
        text-align: center;
    }

    .receipt-footer {
        mix-blend-mode: multiply;

        img {
            width: 150px;
            filter: grayscale(100%);
        }
    }
}

.invoice {
    font-size: 16px;
}

.invoice-line {
    font-family: monospace;
    white-space: nowrap;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    margin: 0.5em 0;
}

.invoice-line .item {
    padding-right: 0.5ch;
}

.invoice-line .dots {
    flex: 1;
    overflow: hidden;
    text-align: left;
    padding: 0 0.5ch;
}

.invoice-line .dots::before {
    content: "................................................................................................................................";
    display: inline-block;
    width: 100%;
    font-size: 0.8em;
    white-space: nowrap;
    overflow: hidden;
}

.featured-image {
    height: 250px;
    background-size: cover;
    background-position: center center;
    border-radius: 5px;
}


.story {
    h2 {
        color: #000;
        font-weight: 600;
    }
}

.story-content {
    h2 {
        font-size: 1.4em;
        margin-bottom: 1.2em;
        color: #000;
        font-weight: 500;
    }

    p {
        font-size: 1em;
        margin: 0 0 2em 0;
    }

    blockquote {
        padding-left: 2em;
        border-left: 4px solid #000;
        font-size: 1.2em;
        color: #000;
    }
}

// .torn-card {
//     clip-path: polygon(0% 0%, 5% 2%, 10% 0%, 15% 3%, 20% 0%, 25% 2%, 30% 0%,
//             35% 4%, 40% 0%, 45% 2%, 50% 0%, 55% 3%, 60% 0%, 65% 2%,
//             70% 0%, 75% 4%, 80% 0%, 85% 3%, 90% 0%, 95% 2%, 100% 0%,
//             100% 100%, 0% 100%);
// }